<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" media="screen">
    <title>@ViewBag.Title</title>
    <link href="~/font/blisspro-regular-webfont.woff" rel="stylesheet" />
    <link href="~/style/css.css" rel="stylesheet" />
    <link href="~/style/font-awesome.css" rel="stylesheet" />
    <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/libs/bootstrap/js/bootstrapjs.js"></script>
    <script src="~/script/feedbackPhonesInfo.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
